@import '../../css/_variables.scss';

.bio {
	margin: 0 auto;
	position: absolute;
	bottom: $padding;
	left: 0;
	right: 0;
	h2 {
		font-size: 16px;
		color: $white;
		display: inline;
		font-weight: normal;
		text-shadow: 1px 1px 2px black;
	}
	img {
		vertical-align: middle;
		border-radius: 50%;
		max-width: 60px;
		margin-bottom: 0px;
		padding: $padding/4;
	}
}