@import '../../css/_variables.scss';
@import '../../css/_include-media.scss';

.headroom {
  background-color: $white;
}

.headroom--unfixed {
  @include media("<=tablet") {
    position: fixed;
  }
}

.headroom--unpinned {
   @include media("<=tablet") {
    display: none;
  }
}

.headroom--pinned {

  @include media("<=tablet") {
    display: none;
  }

  box-shadow: 0 10px 20px rgba(0,0,0,.09);
  height: 60px;

  #burger {
    right: 12px;
    top: 12px;
    // @include media("<=tablet") {
    //   transform: scale(0.8);
    //   transform-origin: center center;
    // }
  }

  .logo {
    // @include media("<=tablet") {
    //   padding-left: 0px;
    //   padding-top: 4px;
    // }
  }

  img {
    transform-origin: top center;
    transform: scale(0.5);
    padding-top: 8px;
    @include media("<=tablet") {
      // transform: scale(0.6);
      // transform-origin: top left;
    }
  }

  nav ul a {
    line-height: 70px;
  }

  header {
    transform-origin: top center;
    transform: scale(0.8);
    @include media("<=tablet") {
      // transform: scale(1);
    }
  }
}

header {
   // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
   position: relative;
   top: 0;
   left: 0;
   height: 100px;
   text-align: center;
   transition: all 0.3s ease;
}

#burger {
  z-index: 9001;
  @include media("<=tablet") {
    display: block;
  }
  @include media(">tablet") {
    display: none;
  }
  width: 50px;
  height: 45px;
  position: absolute;
  right: 32px;
  top: 34px;
  transform: rotate(0deg);
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: $blue;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  position: fixed;
}
#burger span:nth-child(1) {
  top: 0px;
}

#burger span:nth-child(2),#burger span:nth-child(3) {
  top: 14px;
}

#burger span:nth-child(4) {
  top: 28px;
}

#burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

nav {
   animation: slideDown 500ms both;
   animation-delay: 0.5s;
   transition:all 0.3s ease-in-out;
   opacity: 0;
   position: relative;
   max-width: $maxwidth;
   padding: 0 24px;
   z-index: 10;
   width: 100%;
   display: block;
   top: 0;
   z-index: 100;
   margin: 0 auto;
   @include media("<=tablet") {
      animation: none;
      animation-delay: 0s;
      padding-left: 10px;
      transition: none;
      opacity: 1;
   }
   &.open {
    background-color: $white;
    height: 50vh;
    position: fixed;
    padding: 0px;
    left: 0;
    right: 0;
    .nav {
      display: block;
      @include media("<=tablet") {
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        right: auto;
        left: auto;
        li {
          display: inline;
          a {
            margin: 0px;
            font-size: 20px;
            line-height: 36px;
          }
        }
      }
    }
    .nav-left {
      @include media("<=tablet") {
        margin-top: 140px;
      }
    }
    .nav-right {
      @include media("<=tablet") {

      }
    }
   }
   ul {
      list-style: none;
      a {
         // font-size: 1.25rem;
         font-size: 20px;
         color: $blue;
         display: block;
         line-height: 100px;
         margin-left: 51px;
         @include media("<=1200px") {
            font-size: 1.15rem;
            margin-left: 31px;
         }
         @include media("<=1000px") {
            font-size: 1rem;
            margin-left: 21px;
         }
         text-decoration: none;
         transition: color 0.25s ease-in-out;
         &:hover {
            color: $bluehover;
         }
         span {
            position: relative;
            &:before {
               content: "";
               width: 0;
               height: 2px;
               position: absolute;
               bottom: -4px;
               left: 0;
               background: $bluehover;
               -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
               transition: all .25s ease;
            }
         }
      }
      li {
         display: inline-block;
         vertical-align: top;
      }
   }
}

ul.nav {
   @include media("<=tablet") {
      display: none;
   }
}

ul.nav a:hover span:before,
ul.nav li#current a span:before {
  width: 100%;
}

ul.nav li:first-child a {
  margin-left: 0;
}

a.logo {
   width: 196px;
   padding: 15px 0;
   display: block;
   margin: 0 auto;
   will-change: opacity;
   transition: opacity 0.3s ease-in-out;
   @include media("<=tablet") {
    position: absolute;
    left: 12px;
    top: 0px;
   }
   &:hover {
      opacity: 0.8;
   }
   img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
   }
}

.nav-left {
   margin-right: 250px;
   position: absolute;
   right: 50%;
   text-align: center;
   top: 0px;
   @include media("<=1200px") {
      margin-right: 200px;
   }
   @include media("<=1000px") {
      margin-right: 150px;
   }
}

.nav-right {
   left: 50%;
   position: absolute;
   margin-left: 250px;
   text-align: center;
   top: 0px;
   @include media("<=1200px") {
      margin-left: 200px;
   }
   @include media("<=1000px") {
      margin-left: 150px;
   }
}
