@import '../../css/_variables.scss';

.landing-page {
	&:hover {
		.landing-background .inner {
			transform: scale(1.1);
		}
	}
	.landing-background {
			min-height: calc(78vh - 100px);
			overflow: hidden;
			.inner {
				transition: all 10s ease-in-out;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
	}
	.landing-details {
		padding: $padding;
	}
}