@import '../../css/_variables.scss';
@import '../../css/_include-media.scss';

.landing-page {
	&:hover {
		.landing-background .inner {
			transform: scale(1.1);
		}
	}
	.landing-background {
			min-height: calc(100vh - 100px);
			overflow: hidden;
			.inner {
				transition: all 10s ease-in-out;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
	}
	.landing-details {
		padding: $padding $padding*2 $padding $padding*2;
		h1, h2, h3, p {
			margin-bottom: 1.4rem;
		}
		p+p {
			margin-bottom: $padding/2;
		}
		h3 {
			padding-bottom: $padding;
			border-bottom: 1px solid $stripe;
		}
		.cover {
			font-size: 0.9em;
			@include media("<=tablet") {
				font-size: 1em;
			}
			h4 {
				padding-top: $padding/2;
			}
			.breakdown {
				padding-top: $padding/2;
			}
			.row {
				&:last-child {
					font-weight: bold;
				}
				.col-xs-6:nth-child(2) {
					text-align: right;
					color: #666666;
				}
			}
		}
		.btn {
			margin-right: $padding;
			margin-bottom: $padding/2;
		}
	}
}