@import '../../css/_include-media.scss';
@import '../../css/_variables.scss';
@import '../../css/_utils.scss';

.home {
   min-height: 87vh;
   position: relative;
   @include media("<=1000px") {
      padding-bottom: 115px;
   }
   h3, .intro {
      padding-bottom: 2rem;
      margin-bottom: 0px;
   }
   .sa {
      position: absolute;
      bottom: 0px;
      height: 200px;
      width: 100%;
      overflow-x: hidden;
      @include media("<=tablet") {
         overflow: hidden;
      }
      img {
         position: absolute;
         bottom: 0px;
         display: block;
         margin: 0 auto;
         max-height: 100%;
         object-fit: cover;
         @include media("<=tablet") {
            // max-width: 100%;
         }
      }
   }
   .om {
      padding-top: 2rem;
      width: 100% !important;
      max-width: 200px;
      margin-bottom: 1rem;
      transform: translateY(-1rem);
   }
   .quotes {
      h5 {
         text-align: center;
         margin-bottom: 2rem;
      }
   }
   .blurb {
      animation: slideDown 500ms both;
      animation-delay: 0.5s;
      opacity: 0;
   }
   .btn {
      margin-right: $padding;
   }
   .why-simply {
      .why-1 {
         animation: fadeIn 500ms both;
         animation-delay: 0.6s;
         opacity: 0;
      }
      .why-2 {
         animation: fadeIn 500ms both;
         animation-delay: 0.7s;
         opacity: 0;
      }
      .why-3 {
         animation: fadeIn 500ms both;
         animation-delay: 0.8s;
         opacity: 0;
      }
      .why-4 {
         animation: fadeIn 500ms both;
         animation-delay: 0.7s;
         opacity: 0;
      }
      .why-5 {
         animation: fadeIn 500ms both;
         animation-delay: 0.8s;
         opacity: 0;
      }
      .why-6 {
         animation: fadeIn 500ms both;
         animation-delay: 0.9s;
         opacity: 0;
      }
      .col-md-4 {
         @include media("<=tablet") {
            padding-bottom: 2rem;
         }
      }
      span {
         display: block;
         text-align: center;
         font-family: 'Work Sans', sans-serif;
         color: $headline;
         font-weight: bold;
         padding-bottom: 0.5rem;
      }
      img {
         width: 64px;
         display: block;
         margin: 0 auto;
         padding-bottom: 0.5rem;
      }
      p {
         @include responsive-font(0.7vw, 13px, 14px, 14px);
         text-align: center;
      }
      .row {
         padding-bottom: 2rem;
         @include media("<=tablet") {
            padding-bottom: 0px;
         }
      }
   }
}