$grey: #fafafa;
$darkgrey: #1d1b1d;
$blue: #33ccff;
// $bluehover: #00ace6;
$bluehover: #80dfff;
$darkblue: #29A3CC;
$white: #ffffff;
$green: #99cc33;
$greenhover: #b8db70;
$text: #828282;
$headline: #3f3f3f;
$greybg: #F6F6F6;
$cardborder: #E5E5E5;
$cardcolor: #262626;
$stripe: #ebedee;
$oldblue: #3687cc;
$footerlink: #33ccff;

$maxwidth: 1400px;
$padding: 30px;