@import '../../css/_variables.scss';

footer {
	border-top: 1px solid $stripe;
	padding-top: $padding*2;
	padding-bottom: $padding;
	font-size: 15px;
	.logos {
		.col-md-6 {
			 margin-bottom: $padding/2;
			.tb, .tc {
				height: 100%;
			}
		}
	}
	img {
		max-width: 100%;
		margin-bottom: 0px;
		&.social {
			height: 16px;
			margin-right: 5px;
			margin-left: 5px;
			margin-bottom: 0px;
			vertical-align: middle;
		}
		&.simply {
		}
		&.old-mutual {
		}
	}
	h4 {
		font-size: 15px;
		line-height: 29.7px;
	}
	ul {
		list-style: none;
		margin-left: 0;
		li {
			padding: 0;
			margin: 0;
			line-height: 30px;
			color: #333;
			a {
				text-decoration: none;
				cursor: pointer;
				color: #333;
				transition: all .25s ease-in-out;
				&:hover {
					color: $darkblue;
				}
			}
		}
	}
}